/Hardware/Master/History
/Hardware/Master/__Previews
/Hardware/Master/Project Logs for Master

/Hardware/Final_Year_Project/History
/Hardware/Final_Year_Project/__Previews
/Hardware/Final_Year_Project/Project Logs for Final_Year_Project


/Webserver/node_modules
/Webserver/.env
/Firmware/Debug
/ref.txt